/* 20 Questions style */

.ui-dialog-titlebar-close {
    display: none;
}
#QuestionTree {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
foreignObject > div {
    color: #FFF;
    text-align: center;
}
circle, .link  {
    stroke: #555;
    stroke-width: 4.5px;
}
div.highlighted {
    color: #FAA;
}
.explored {
    opacity: 0.5;
}
path.selected {
    stroke: #5F5;
}
