/data
*.sln

*.suo

*.vcxproj

*.pdb

*.exe

*.dll
*.lib
*.user
*.rule

*.obj

*.sdf
*.opensdf
*.filters

*.tlog
*.log
*.stamp
*.applog
*.bin
*.cache
*.check_cache

*.cxx
/build/*.cmake
/build/*/*.cmake
/build/*/*/*.cmake
/build/*/*/*/*.cmake
/build/*/*/*/*/*.cmake
*.cxx_parameters
*.dat
*.depend
*.exp
/build/*/*/*/*.cpp
/build/*/*/*/*.h
*.inc
*.ini
*.ipch
*.depends
*.lastbuildstate
*.manifest
*.res
