html, body, #Gamescreen {
    margin: 0;
    width: 100%;
    height: 100%;
}
html, body {
    background: black;
    overflow: hidden;
}
div, img {
    position: absolute;
    left: 0px;
    top: 0px;
}
#Gamescreen {
    position: fixed;
    background-image: url("Backdrop.png"), linear-gradient(to top, #FFF600, #F47705);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 50% 100%;
}
#Overlay, #Scoreboard {
    margin: 0;
    background-color: #FFEBAF;
    border-style: solid;
    border-color: #A91800;
    border-radius: 5%;
    border-width: 10px;
}
#Overlay {
    left: 20%;
    width: 60%;
    top: 20%;
    height: 60%;
}
#OverlayText {
    top: 10%;
    left: 10%;
    color: #6D0F00;
    font-size: 50px;
}
#OverlayCountdown {
    width: 100%;
    text-align: center;
    top: calc(50% - 50px);
    color: #6D0F00;
    font-size: 100px;
}
#OverlayCity {
    top: 10%;
}
#CannonContainer {
    top: auto;
    bottom: 0px;
    width: 100%;
    height: 0%;
    padding-bottom: 100%;
}
#CannonOrigin {
    left: 32.8%;
    top: 92%;
}
#CannonBody {
    left: -7.5px;
    top: -50px;
    width: 15px;
    height: 50px;
    background-color: #BBBBBB;
    border-style: solid;
    border-color: #000000;
    border-width: 5px;
}
#Scoreboard {
    left: 80%;
    width: 15%;
    top: 5%;
    height: 10%;
}
#Scoreboard > div {
    width: 100%;
    text-align: center;
    top: calc(50% - 25px);
    color: #6D0F00;
    font-size: 25px;
}
.hidden {
    display: none;
}
.explosion {
    left: -125px;
     top: -125px;
}
